<div class="row">
<div class="col-md-12 text-left">
<p>Use the form below to sign up for the Noble Energy GridMeNow application. Once your application is approved you will be notified via email with instructions on how to install.</p>
</div><!-- end md 4 -->
</div><!-- end row -->


<div class="row">
<div class="col-md-4">
<img src="https://s3.amazonaws.com/gmnnoble/images/gmnnoblephone.png" class="img-responsive">
</div><!-- end md 4 -->
<div class="col-md-8 text-left"><%= render 'form' %></div><!-- end md 4 -->
</div><!-- end row -->



