<div class="row">
<div class="col-md-12 text-left">
<p>GridMeNow increases situational awareness and provides for a secure channel for you to communicate with the Noble Energy Ground Security Operations Center (GSOC). To get started using the application please fill out the form with your information. Once your application is approved you will be notified via email with instructions on how to install your GridMeNow application. Thank you.</p>
</div><!-- end md 4 -->
</div><!-- end row -->


<div class="row">
<div class="col-md-4 text-right">
<img src="https://s3.amazonaws.com/gmnnoble/images/gmnnoblephone.png" class="img-responsive">
</div><!-- end md 4 -->
<div class="col-md-6 text-left"><%= render 'form' %></div><!-- end md 4 -->
<div class="col-md-2 text-left"></div><!-- end md 4 -->
</div><!-- end row -->



