
<div class="row">
<div class="col-md-2"></div><!-- end md 4 -->
<div class="col-md-8">
<p>
	Thank you <%= @signup.signup_name %> for signing up for GridMeNow. Once your application has been approved you will recieve an email at:  <%= @signup.signup_email %> with instructions on how to download and activate the mobile application. Have a great day! </p>
	<center> <img src="http://www.nobleenergyinc.com/_filelib/ImageGallery/Maps/NBL_overview_map_0918-01.jpg"></center>
  
</div><!-- end md 4 -->
<div class="col-md-2"></div><!-- end md 4 -->
</div><!-- end row -->




