
<div class="row">
<div class="col-md-4"></div><!-- end md 4 -->
<div class="col-md-4">
<p>
	Thank you <%= @signup.signup_name %> for signing up for GridMeNow. Once you are approved you will recieve an email at:  <%= @signup.signup_email %> with instructions on how to download the application </p>
  
</div><!-- end md 4 -->
<div class="col-md-4"></div><!-- end md 4 -->
</div><!-- end row -->




